@font-face {
    font-family: 'icomoon';
    src:    url('../assets/fonts/icomoon/icomoon.eot?i8agtb');
    src:    url('../assets/fonts/icomoon/icomoon.eot?i8agtb#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon/icomoon.ttf?i8agtb') format('truetype'),
        url('../assets/fonts/icomoon/icomoon.woff?i8agtb') format('woff'),
        url('../assets/fonts/icomoon/icomoon.svg?i8agtb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}










